#authButtonSection{
    display: flex;
}

#authButtonSection Button {
    background-color: #2A9D8F;
    border-color: #2A9D8F;
    color: white;
}
#authButtonSection form{
    height: 100%
}
.mobileSearch{
    width: 100%;
}
.mobileSearch form{
    width: 100%;
}